<body>
<h1>Room Booking</h1>
<div class="container">
  <p>Update room</p>
  <div class="settings">
    <label>RoomID</label>
    <input type="text" id="id" name="id" [(ngModel)]="roomId" readonly>
    <label>Category</label>
    <input type="text" id="category" name="category" [(ngModel)]="category">
    <label>Type</label>
    <input type="text" id="type" name="type" [(ngModel)]="type">
    <label>Price</label>
    <input type="text" id="price" name="price" [(ngModel)]="price">
    <label>Hotel</label>
    <input type="text" id="hotel" name="hotel" [(ngModel)]="hotel">
  </div>
  <input type="submit" class="submit" value="Update" id="update" (click)="updateRoom()">
</div>

<table id="dataTable">
  <thead>
  <tr>
    <th>RoomID</th>
    <th>Category</th>
    <th>Type</th>
    <th>Price</th>
    <th>Hotel</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let room of rooms" (click)="selectRoom(room)">
    <td>{{ room.id }}</td>
    <td>{{ room.category }}</td>
    <td>{{ room.type }}</td>
    <td>{{ room.price }}</td>
    <td>{{ room.hotel }}</td>
  </tr>
  </tbody>
</table>
</body>
