body{
    background-image: url("Resources/castle.jpg");
    text-align : center;

}

h1{
    font-size: 90px ;
    color: darkred;
}

button{
    font-size: 25px;
    font-family: Verdana;
    background-color: grey;
}