<div class="container-main " >
  <span class="title-main">
    Room Booking
  </span>
  <h1> Room Booking </h1>
  <div class="buttons">
    <button (click)="navigateTo('/app-add-page')">Add Room</button>
    <button (click)="navigateTo('/app-delete-page')">Remove Room</button>
    <button (click)="navigateTo('/app-update-page')">Update Room</button>
    <button (click)="navigateTo('/app-reservations-page')">Reservations</button>
    <button (click)="navigateTo('/app-browse-page')">Browse rooms</button>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
